td{
    background-color: whitesmoke;
}

table{
    background-color:  black;
}

h1{
    color: whitesmoke;
    text-align: center;
}

.table{
    width: 90%;
    text-align: center;
    display: inline;
}

#button{
    color: ivory !important;
}