body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://i.pinimg.com/originals/b8/5a/40/b85a409cd599f522155a381b38b8875e.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}
